html, body {
    min-height: 100%;
    margin: 20;
    padding: 20;
    font-family: Karla, Avenir Next, sans-serif;
    background-color: #eef8f9;
    color: #9da3a4;
}

#logo {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    display: block;
    height: 300px;
    padding-bottom: 40px;
}

#registration {
    margin: auto;
    align-items: center;
    text-align: center;
    padding-bottom: 40px;
}

#registration-button {
    background-color: #9da3a4;
    outline-color: black;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}


